<!DOCTYPE html>
<html>
<head>
  <title>Электронные коврики- ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="Электронные коврики, купить Электронные коврики, продажа Электронные коврики, выбор Электронные коврики">
  <link href="/elektronnyie-kovriki/c7" rel="canonical">
  <link rel="canonical" href="/elektronnyie-kovriki/c7">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/favicon1.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/css/main.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//sellbe.com/js/core.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/js/main.js"></script>
  <script src="//sellbe.com/js/localization/ru.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.min.js"></script>
</head>
<body>
  <header>
    <div class="h-top">
      <div class="cntr clr"></div>
    </div>
    <div class="h-middle">
      <div class="cntr clr">
        <div class="logo">
          <a href="/"><img src="https://cdn6.sellbe.com/p64/s-64403/logo/364433.jpg" alt="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ" title="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ"></a>
        </div>
        <div class="h-contact">
          <div>
            Мобильный: (067) 727 32 41
          </div>
          <div>
            Мобильный: (095) 760 32 41
          </div>
          <div>
            Email: <a href="mailto:zooelectronic@ukr.net">zooelectronic@ukr.net</a>
          </div>
        </div>
        <div class="h-right clr">
          <div class="log-blk">
            <a class="login-a">Вход</a> <a href="/register">Регистрация</a>
          </div>
          <div class="clr"></div>
          <div class="cart-info">
            <div class="cart-ico ico"></div>
            <div class="txt full-cart hide-txt">
              В корзине <a href="/cart">товаров: <span class="amount">0</span></a>
            </div>
            <div class="txt empty-cart">
              Корзина пуста
            </div>
            <div class="clr"></div>
            <div class="wrap">
              <script id="cart-i-tmpl" type="text/x-jquery-tmpl">
                <li class="prod-cntr" data-prod-id="${product.id}">
                    <div class="amnt">${quantity}</div>
                    <div class="descr clr">
                        <div class="ttl"><a href="${product.url}">${product.title}</a></div>

                        {{if complectation != null}}
                            <div class="complect-blk" data-id="${complectation.id}">
                                ({{each(i,property) complectation.properties }}{{if i != 0}}; {{/if}}${property.property_name}: ${property.value_name}{{/each}})
                            </div>
                        {{/if}}

                        {{if selected_properties.length > 0}}
                            <div class="props prod-${product.id}-props">
                                {{each(i, property) selected_properties }}
                                    <div data-prop-id="${property.property_id}" data-val-id="${property.value_id}">
                                        ${property.property_name}: ${property.value_name}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                        <div class="price">${total_price}</div>
                        <span class="del-ico ico"></span>
                    </div>
                </li>
              </script>
              <ul class="lst"></ul>
              <div class="btn-wrap clr">
                <a class="btn" href="/purchase">Оформить заказ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="menu-blk">
      <div class="cntr clr">
        <ul class="menu">
          <li>
            <a href="/"><span class="ico"></span></a>
          </li>
          <li>
            <a href="/products">Каталог товаров</a>
          </li>
          <li>
            <a href="/dostavka-i-oplata">Доставка и оплата</a>
          </li>
          <li>
            <a href="/garantiya">Гарантия</a>
          </li>
          <li>
            <a href="/publications">Публикации</a>
          </li>
          <li>
            <a href="/contacts">Контакты</a>
          </li>
          <li>
            <a href="/feedbacks">Отзывы</a>
          </li>
        </ul>
        <div class="srch-blk clr">
          <input class="srch-inp" type="text" placeholder="Поиск" data-url="/search"> <a class="srch-btn ico"></a>
        </div>
      </div>
    </nav>
  </header>
  <section class="cnt-wrap">
    <div class="cntr clr">
      <div class="h-banner"></div>
      <aside class="l-col">
        <div class="blk">
          <div class="blk-ttl">
            Категории
          </div>
          <div class="blk-body">
            <ul class="categ-lst">
              <li>
                <a href="/elektronnyie-oshejniki/c1">Электронные ошейники</a>
              </li>
              <li>
                <a href="/oshejniki-biperyi/c2">Ошейники - биперы</a>
              </li>
              <li>
                <a href="/antilai/c3">Антилаи</a>
              </li>
              <li>
                <a href="/poiskovyie-sistemyi/c4">Поисковые системы</a>
              </li>
              <li>
                <a href="/elektronnyie-izgorodi/c5">Электронные изгороди</a>
              </li>
              <li>
                <a href="/svetyaschiesya-oshejniki/c6">Светящиеся ошейники</a>
              </li>
              <li class="open cur">
                <a href="/elektronnyie-kovriki/c7">Электронные коврики</a>
              </li>
              <li>
                <a href="/furminatoryi/c8">Фурминаторы</a>
              </li>
              <li>
                <a href="/mashinki-dlya-strizhki/c9">Машинки для стрижки</a>
              </li>
              <li>
                <a href="/dopolnitelnyie-oshejniki/c11">Дополнительные ошейники</a>
              </li>
              <li>
                <a href="/aksecsuaryi/c10">Аксеcсуары</a>
              </li>
              <li>
                <a href="/zapchasti-remont/c12">Запчасти, ремонт</a>
              </li>
              <li>
                <a href="/arenda-elektrooshejnikov/c13">Аренда электроошейников</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="blk subscr-blk">
          <div class="blk-ttl">
            Подписка на новости
          </div>
          <div class="blk-body">
            <form class="clr" id="subscr-frm" name="subscr-frm">
              <div class="inp-blk clr">
                <label for="subscr-mail">Email</label> <input type="email" id="subscr-mail" name="subscr-mail">
              </div><input class="btn" type="button" value="Подписаться">
            </form>
          </div>
        </div>
      </aside>
      <div class="cnt">
        <div class="crumbs">
          <a href="/">Главная</a> <span class="arr">&gt;</span> <span>Электронные коврики</span>
        </div>
        <h1>Электронные коврики</h1>
        <div class="txt-blk">
          <div class="groupDescription">
            <p style="text-align: justify;">Ваша собака или кошка считают "своим местом" весь дом? Собака любит забираться на диван с грязными лапами? Кот обожает дремать в кресле, оставляя после себя массу шерсти, которую без труда не собрать? Животному запрещено заходить в комнату, но Ваш «хозяин» сам решает что можно и нельзя? Отучите питомца от плохих привычек при помощи специального мата против вредных животных Scat Mat.</p>
            <p style="text-align: justify;">Когда вредное животное, ничего не подозревая, забирается с ногами на Вашу чистую постель, там его ждет Scat Mat. Как только животное касается его своими преступными лапами, на 3 секунды включается механизм коррекции, излучающий мягкий, безвредный статический импульс. Такой неожиданности достаточно для того чтобы любимец понял - на постели его видеть не рады. Cтатическая коррекция не принесёт&nbsp; вреда Вашему любимцу . Электростимуляция не требует подключения с электросети, работает от 3-х батареек типа АА.</p>
          </div>
        </div>
        <div class="txt-blk"></div>
        <div class="txt-blk"></div>
        <div class="list-nav clr">
          <div class="sorter clr">
            <span class="ttl">Сортировать по:</span>
            <div class="vars">
              <a class="cur clr"><span class="ttl">цене (с меньшей) <span>&darr;</span> <span class="arr ico"></span></span></a>
              <div class="clr"></div>
              <ul class="lst">
                <li>
                  <a href="/elektronnyie-kovriki/c7?sort=default">рейтингу</a>
                </li>
                <li>
                  <a href="/elektronnyie-kovriki/c7?sort=name">названию</a>
                </li>
                <li>
                  <a href="/elektronnyie-kovriki/c7?sort=expensive">цене (с большей) <span>&uarr;</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filter-blk blk" data-categ-url="http://zooelectronic.com.ua/elektronnyie-kovriki/c7" data-sort-val="cheap" data-size-val="10">
          <div class="filter-lst">
            <div class="item clr">
              <div class="ttl">
                Цена
              </div>
              <div class="filter-price clr">
                <label for="price-from">от</label> <input type="text" id="price-from" value=""> <label for="price-to">до</label> <input type="text" id="price-to" value="">
              </div><a class="btn do-srch">Поиск</a>
            </div>
          </div>
        </div>
        <div class="prod-lst-full prod-lst-fl">
          <div class="product item clr">
            <div class="img">
              <a href="/otpugivayuschij-kovrik-scat-mat/p53"><img src="https://cdn6.sellbe.com/p64/s-64403/product/53/s565175.jpg" alt="Отпугивающий коврик Scat Mat"></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/otpugivayuschij-kovrik-scat-mat/p53">Отпугивающий коврик Scat Mat</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability not-stock">
                Под заказ
              </div>
              <div class="prices">
                <div class="price">
                  0 грн.
                </div>
              </div><input class="inform-btn btn" type="button" value="Сообщить о наличии" data-prod-id="53">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="cntr">
      <div class="f-right clr">
        <div class="sellbe-count"></div>
        <div class="soc-links clr"></div>
      </div>
      <div class="f-left">
        <div class="f-menu">
          <a href="/contacts">Контакты</a> <span>|</span> <a href="/feedbacks">Отзывы</a> <span>|</span> <a href="/pricelist">Прайс-лист</a><span>|</span> <a href="http://zooelectronic.com.ua/sitemap.html">Sitemap</a> <span>|</span>
        </div><span class="hide-txt" id="pattern">0 грн.</span>
        <div class="tmpl-pop-cart tmpl-src" data-src="/json/module/external.popup-cart"></div>
        <div class="tmpl-pop-login tmpl-src" data-src="/json/module/external.popup-login"></div>
        <div class="tmpl-pop-remind tmpl-src" data-src="/json/module/external.popup-remind"></div>
        <div class="tmpl-pop-inform tmpl-src" data-src="/json/module/external.popup-inform"></div>
        <div class="tmpl-pop-markdown tmpl-src" data-src="/json/module/external.popup-markdown"></div>
        <div class="copy">
          Copyright &copy; 2016 - 2018, <a href="/">ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</a>
        </div>
      </div>
      <div class="clr"></div>
      <div class="f-counts"></div>
    </div>
  </footer>
</body>
</html>
