<!DOCTYPE html>
<html>
<head>
  <title>Товары(Китай) - ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</title>
  <meta name="description" content="Товары из Китая в 'Электроника для Животных'. Мы предлагаем широкий ассортимент товаров для животных, произведенных в Китае: электроника, аксессуары, средства ухода и многое другое. Надежные и доступные решения для ваших питомцев." >
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="Китай, купить Китай, продажа Китай, выбор Китай">
  <link href="/kitaj/b1" rel="canonical">
  <meta name="robots" content="index, follow">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/favicon1.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/css/main.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//sellbe.com/js/core.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/js/main.js"></script>
  <script src="//sellbe.com/js/localization/ru.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.min.js"></script>
</head>
<body>
  <header>
    <div class="h-top">
      <div class="cntr clr"></div>
    </div>
    <div class="h-middle">
      <div class="cntr clr">
        <div class="logo">
          <a href="/"><img src="https://cdn6.sellbe.com/p64/s-64403/logo/364433.jpg" alt="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ" title="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ"></a>
        </div>
        <div class="h-contact">
          <div>
            Мобильный: (067) 727 32 41
          </div>
          <div>
            Мобильный: (095) 760 32 41
          </div>
          <div>
            Email: <a href="mailto:zooelectronic@ukr.net">zooelectronic@ukr.net</a>
          </div>
        </div>
        <div class="h-right clr">
          <div class="log-blk">
            <a class="login-a">Вход</a> <a href="/register">Регистрация</a>
          </div>
          <div class="clr"></div>
          <div class="cart-info">
            <div class="cart-ico ico"></div>
            <div class="txt full-cart hide-txt">
              В корзине <a href="/cart">товаров: <span class="amount">0</span></a>
            </div>
            <div class="txt empty-cart">
              Корзина пуста
            </div>
            <div class="clr"></div>
            <div class="wrap">
              <script id="cart-i-tmpl" type="text/x-jquery-tmpl">
                <li class="prod-cntr" data-prod-id="${product.id}">
                    <div class="amnt">${quantity}</div>
                    <div class="descr clr">
                        <div class="ttl"><a href="${product.url}">${product.title}</a></div>

                        {{if complectation != null}}
                            <div class="complect-blk" data-id="${complectation.id}">
                                ({{each(i,property) complectation.properties }}{{if i != 0}}; {{/if}}${property.property_name}: ${property.value_name}{{/each}})
                            </div>
                        {{/if}}

                        {{if selected_properties.length > 0}}
                            <div class="props prod-${product.id}-props">
                                {{each(i, property) selected_properties }}
                                    <div data-prop-id="${property.property_id}" data-val-id="${property.value_id}">
                                        ${property.property_name}: ${property.value_name}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                        <div class="price">${total_price}</div>
                        <span class="del-ico ico"></span>
                    </div>
                </li>
              </script>
              <ul class="lst"></ul>
              <div class="btn-wrap clr">
                <a class="btn" href="/purchase">Оформить заказ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="menu-blk">
      <div class="cntr clr">
        <ul class="menu">
          <li>
            <a href="/"><span class="ico"></span></a>
          </li>
          <li>
            <a href="/products">Каталог товаров</a>
          </li>
          <li>
            <a href="/dostavka-i-oplata">Доставка и оплата</a>
          </li>
          <li>
            <a href="/garantiya">Гарантия</a>
          </li>
          <li>
            <a href="/publications">Публикации</a>
          </li>
          <li>
            <a href="/contacts">Контакты</a>
          </li>
          <li>
            <a href="/feedbacks">Отзывы</a>
          </li>
        </ul>
        <div class="srch-blk clr">
          <input class="srch-inp" type="text" placeholder="Поиск" data-url="/search"> <a class="srch-btn ico"></a>
        </div>
      </div>
    </nav>
  </header>
  <section class="cnt-wrap">
    <div class="cntr clr">
      <div class="h-banner"></div>
      <aside class="l-col">
        <div class="blk">
          <div class="blk-ttl">
            Категории
          </div>
          <div class="blk-body">
            <ul class="categ-lst">
              <li>
                <a href="/elektronnyie-oshejniki/c1">Электронные ошейники</a>
              </li>
              <li>
                <a href="/oshejniki-biperyi/c2">Ошейники - биперы</a>
              </li>
              <li>
                <a href="/antilai/c3">Антилаи</a>
              </li>
              <li>
                <a href="/poiskovyie-sistemyi/c4">Поисковые системы</a>
              </li>
              <li>
                <a href="/elektronnyie-izgorodi/c5">Электронные изгороди</a>
              </li>
              <li>
                <a href="/svetyaschiesya-oshejniki/c6">Светящиеся ошейники</a>
              </li>
              <li>
                <a href="/elektronnyie-kovriki/c7">Электронные коврики</a>
              </li>
              <li>
                <a href="/furminatoryi/c8">Фурминаторы</a>
              </li>
              <li>
                <a href="/mashinki-dlya-strizhki/c9">Машинки для стрижки</a>
              </li>
              <li>
                <a href="/dopolnitelnyie-oshejniki/c11">Дополнительные ошейники</a>
              </li>
              <li>
                <a href="/aksecsuaryi/c10">Аксеcсуары</a>
              </li>
              <li>
                <a href="/zapchasti-remont/c12">Запчасти, ремонт</a>
              </li>
              <li>
                <a href="/arenda-elektrooshejnikov/c13">Аренда электроошейников</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="blk subscr-blk">
          <div class="blk-ttl">
            Подписка на новости
          </div>
          <div class="blk-body">
            <form class="clr" id="subscr-frm" name="subscr-frm">
              <div class="inp-blk clr">
                <label for="subscr-mail">Email</label> <input type="email" id="subscr-mail" name="subscr-mail">
              </div><input class="btn" type="button" value="Подписаться">
            </form>
          </div>
        </div>
      </aside>
      <div class="cnt">
        <div class="crumbs">
          <a href="/">Главная</a> <span class="arr">&gt;</span> <span>Китай</span>
        </div>
        <h1>Китай</h1>
        <div class="txt-blk"></div>
        <div class="txt-blk"></div>
        <div class="list-nav clr">
          <div class="sorter clr">
            <span class="ttl">Сортировать по:</span>
            <div class="vars">
              <a class="cur clr"><span class="ttl">рейтингу <span class="arr ico"></span></span></a>
              <div class="clr"></div>
              <ul class="lst">
                <li>
                  <a href="/kitaj/b1?sort=name">названию</a>
                </li>
                <li>
                  <a href="/kitaj/b1?sort=cheap">цене (с меньшей) <span>&darr;</span></a>
                </li>
                <li>
                  <a href="/kitaj/b1?sort=expensive">цене (с большей) <span>&uarr;</span></a>
                </li>
              </ul>
            </div>
          </div>
          <ul class="sizer pager">
            <li class="ttl"><span>Выводить:</span></li>
            <li class="cur"><span>10</span></li>
            <li>
              <a href="/kitaj/b1?size=30">30</a>
            </li>
            <li>
              <a href="/kitaj/b1?size=50">50</a>
            </li>
            <li>
              <a href="/kitaj/b1?size=100">100</a>
            </li>
          </ul>
        </div>
        <div class="prod-lst-full">
          <div class="product item clr">
            <div class="img">
              <a href="/elektronnyij-oshejnik-petainer-ipets-619/p5"><img src="https://cdn6.sellbe.com/p64/s-64403/product/5/s290880.jpg" alt="Электронный ошейник Petainer iPETs 619"></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/elektronnyij-oshejnik-petainer-ipets-619/p5">Электронный ошейник Petainer iPETs 619</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  1 930 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="5">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/elektrooshejnik-s-biperom-petainer-pet910-dlya-ohotnichih-sobak/p1"><img src="https://cdn6.sellbe.com/p64/s-64403/product/1/s400753.jpg" alt="Электроошейник с бипером Petainer PET910 (для охотничьих собак) "></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/elektrooshejnik-s-biperom-petainer-pet910-dlya-ohotnichih-sobak/p1">Электроошейник с бипером Petainer PET910 (для охотничьих собак)</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  2 630 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="1">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/elektronnyij-oshejnik-petainer-pet916/p2"><img src="https://cdn6.sellbe.com/p64/s-64403/product/2/s868328.jpg" alt="Электронный ошейник Petainer PET916"></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/elektronnyij-oshejnik-petainer-pet916/p2">Электронный ошейник Petainer PET916</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  1 750 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="2">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/10-rasprodazha-elektronnyij-oshejnik-petainer-ipets-618/p9"><img src="https://cdn6.sellbe.com/p64/s-64403/product/9/s268996.jpg" alt="-10% РАСПРОДАЖА ! Электронный ошейник Petainer iPETs 618"> <span class="prod-lbls"><span class="prom-blk">Акция!</span> <span class="lbl label_3">Топ продаж</span></span></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/10-rasprodazha-elektronnyij-oshejnik-petainer-ipets-618/p9">-10% РАСПРОДАЖА ! Электронный ошейник Petainer iPETs 618</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  2 240 грн.
                </div>
                <div class="price-old">
                  2 490 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="9">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/elektrooshejnik-dlya-dressirovki-petainer-998d/p4"><img src="https://cdn6.sellbe.com/p64/s-64403/product/4/s253554.jpg" alt="Электроошейник для дрессировки Petainer 998D "></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/elektrooshejnik-dlya-dressirovki-petainer-998d/p4">Электроошейник для дрессировки Petainer 998D</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  840 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="4">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/elektronnyij-oshejnik-petcomer/p60"><img src="https://cdn6.sellbe.com/p64/s-64403/product/60/s617207.jpg" alt="Электронный ошейник PETCOMER"> <span class="prod-lbls"><span class="lbl label_1">Новинка</span></span></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/elektronnyij-oshejnik-petcomer/p60">Электронный ошейник PETCOMER</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  1 100 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="60">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/elektronnyij-oshejnik-petainer-998dr-new/p12"><img src="https://cdn6.sellbe.com/p64/s-64403/product/12/s488393.jpg" alt="Электронный ошейник Petainer 998DR NEW"></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/elektronnyij-oshejnik-petainer-998dr-new/p12">Электронный ошейник Petainer 998DR NEW</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  1 330 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="12">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/svetyaschijsya-v-temnote-poliuretanovyij-oshejnik-remeshok-25mm/p61"><img src="https://cdn6.sellbe.com/p64/s-64403/product/61/s904038.jpg" alt="Светящийся в темноте полиуретановый ошейник - ремешок 25мм"></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/svetyaschijsya-v-temnote-poliuretanovyij-oshejnik-remeshok-25mm/p61">Светящийся в темноте полиуретановый ошейник - ремешок 25мм</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  230 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="61">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/poliuretanovyij-oshejnik-remeshok-oranzhevyij-25mm/p16"><img src="https://cdn6.sellbe.com/p64/s-64403/product/16/s327728.jpg" alt="Полиуретановый ошейник - ремешок оранжевый 25мм"></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/poliuretanovyij-oshejnik-remeshok-oranzhevyij-25mm/p16">Полиуретановый ошейник - ремешок оранжевый 25мм</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  200 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="16">
            </div>
          </div>
          <div class="product item clr">
            <div class="img">
              <a href="/elektronnyij-oshejnik-petainer-ipets-617/p10"><img src="https://cdn6.sellbe.com/p64/s-64403/product/10/s747488.jpg" alt="Электронный ошейник Petainer iPETs 617 "></a>
            </div>
            <div class="descr clr">
              <div class="ttl">
                <a href="/elektronnyij-oshejnik-petainer-ipets-617/p10">Электронный ошейник Petainer iPETs 617</a>
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="availability">
                В наличии
              </div>
              <div class="prices">
                <div class="price">
                  2 560 грн.
                </div>
              </div><input class="cart-add btn" type="button" value="В корзину" data-prod-id="10">
            </div>
          </div>
        </div>
        <div class="clr"></div>
        <ul class="pager clr">
          <li class="cur"><span>1</span></li>
          <li>
            <a href="/kitaj/b1/2">2</a>
          </li>
          <li><span>...</span></li>
          <li>
            <a href="/kitaj/b1/6">6</a>
          </li>
          <li>
            <a href="/kitaj/b1/2">вперед »</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer>
    <div class="cntr">
      <div class="f-right clr">
        <div class="sellbe-count"></div>
        <div class="soc-links clr"></div>
      </div>
      <div class="f-left">
        <div class="f-menu">
          <a href="/contacts">Контакты</a> <span>|</span> <a href="/feedbacks">Отзывы</a> <span>|</span> <a href="/pricelist">Прайс-лист</a><span>|</span> <a href="http://zooelectronic.com.ua/sitemap.html">Sitemap</a> <span>|</span>
        </div><span class="hide-txt" id="pattern">0 грн.</span>
        <div class="tmpl-pop-cart tmpl-src" data-src="/json/module/external.popup-cart"></div>
        <div class="tmpl-pop-login tmpl-src" data-src="/json/module/external.popup-login"></div>
        <div class="tmpl-pop-remind tmpl-src" data-src="/json/module/external.popup-remind"></div>
        <div class="tmpl-pop-inform tmpl-src" data-src="/json/module/external.popup-inform"></div>
        <div class="tmpl-pop-markdown tmpl-src" data-src="/json/module/external.popup-markdown"></div>
        <div class="copy">
          Copyright &copy; 2016 - 2018, <a href="/">ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</a>
        </div>
      </div>
      <div class="clr"></div>
      <div class="f-counts"></div>
    </div>
  </footer>
</body>
</html>
