<!DOCTYPE html>
<html>
<head>
  <title>Ножевой блок для машинки AOBO - VS888 и VS999: цена, описание, продажа - ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="Ножевой блок для машинки AOBO - VS888 и VS999, купить Ножевой блок для машинки AOBO - VS888 и VS999, продажа Ножевой блок для машинки AOBO - VS888 и VS999, описание Ножевой блок для машинки AOBO - VS888 и VS999">
  <link href="/nozhevoj-blok-dlya-mashinki-aobo-vs888-i-vs999/p25" rel="canonical">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/favicon1.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/css/main.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/share/share.css" rel="stylesheet">
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/share/share.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//sellbe.com/js/core.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/js/main.js"></script>
  <script src="//sellbe.com/js/localization/ru.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.min.js"></script>
</head>
<body>
  <header>
    <div class="h-top">
      <div class="cntr clr"></div>
    </div>
    <div class="h-middle">
      <div class="cntr clr">
        <div class="logo">
          <a href="/"><img src="https://cdn6.sellbe.com/p64/s-64403/logo/364433.jpg" alt="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ" title="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ"></a>
        </div>
        <div class="h-contact">
          <div>
            Мобильный: (067) 727 32 41
          </div>
          <div>
            Мобильный: (095) 760 32 41
          </div>
          <div>
            Email: <a href="mailto:zooelectronic@ukr.net">zooelectronic@ukr.net</a>
          </div>
        </div>
        <div class="h-right clr">
          <div class="log-blk">
            <a class="login-a">Вход</a> <a href="/register">Регистрация</a>
          </div>
          <div class="clr"></div>
          <div class="cart-info">
            <div class="cart-ico ico"></div>
            <div class="txt full-cart hide-txt">
              В корзине <a href="/cart">товаров: <span class="amount">0</span></a>
            </div>
            <div class="txt empty-cart">
              Корзина пуста
            </div>
            <div class="clr"></div>
            <div class="wrap">
              <script id="cart-i-tmpl" type="text/x-jquery-tmpl">
                <li class="prod-cntr" data-prod-id="${product.id}">
                    <div class="amnt">${quantity}</div>
                    <div class="descr clr">
                        <div class="ttl"><a href="${product.url}">${product.title}</a></div>

                        {{if complectation != null}}
                            <div class="complect-blk" data-id="${complectation.id}">
                                ({{each(i,property) complectation.properties }}{{if i != 0}}; {{/if}}${property.property_name}: ${property.value_name}{{/each}})
                            </div>
                        {{/if}}

                        {{if selected_properties.length > 0}}
                            <div class="props prod-${product.id}-props">
                                {{each(i, property) selected_properties }}
                                    <div data-prop-id="${property.property_id}" data-val-id="${property.value_id}">
                                        ${property.property_name}: ${property.value_name}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                        <div class="price">${total_price}</div>
                        <span class="del-ico ico"></span>
                    </div>
                </li>
              </script>
              <ul class="lst"></ul>
              <div class="btn-wrap clr">
                <a class="btn" href="/purchase">Оформить заказ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="menu-blk">
      <div class="cntr clr">
        <ul class="menu">
          <li>
            <a href="/"><span class="ico"></span></a>
          </li>
          <li>
            <a href="/products">Каталог товаров</a>
          </li>
          <li>
            <a href="/dostavka-i-oplata">Доставка и оплата</a>
          </li>
          <li>
            <a href="/garantiya">Гарантия</a>
          </li>
          <li>
            <a href="/publications">Публикации</a>
          </li>
          <li>
            <a href="/contacts">Контакты</a>
          </li>
          <li>
            <a href="/feedbacks">Отзывы</a>
          </li>
        </ul>
        <div class="srch-blk clr">
          <input class="srch-inp" type="text" placeholder="Поиск" data-url="/search"> <a class="srch-btn ico"></a>
        </div>
      </div>
    </nav>
  </header>
  <section class="cnt-wrap">
    <div class="cntr clr">
      <div class="h-banner"></div>
      <aside class="l-col">
        <div class="blk">
          <div class="blk-ttl">
            Категории
          </div>
          <div class="blk-body">
            <ul class="categ-lst">
              <li>
                <a href="/elektronnyie-oshejniki/c1">Электронные ошейники</a>
              </li>
              <li>
                <a href="/oshejniki-biperyi/c2">Ошейники - биперы</a>
              </li>
              <li>
                <a href="/antilai/c3">Антилаи</a>
              </li>
              <li>
                <a href="/poiskovyie-sistemyi/c4">Поисковые системы</a>
              </li>
              <li>
                <a href="/elektronnyie-izgorodi/c5">Электронные изгороди</a>
              </li>
              <li>
                <a href="/svetyaschiesya-oshejniki/c6">Светящиеся ошейники</a>
              </li>
              <li>
                <a href="/elektronnyie-kovriki/c7">Электронные коврики</a>
              </li>
              <li>
                <a href="/furminatoryi/c8">Фурминаторы</a>
              </li>
              <li class="open cur">
                <a href="/mashinki-dlya-strizhki/c9">Машинки для стрижки</a>
              </li>
              <li>
                <a href="/dopolnitelnyie-oshejniki/c11">Дополнительные ошейники</a>
              </li>
              <li>
                <a href="/aksecsuaryi/c10">Аксеcсуары</a>
              </li>
              <li>
                <a href="/zapchasti-remont/c12">Запчасти, ремонт</a>
              </li>
              <li>
                <a href="/arenda-elektrooshejnikov/c13">Аренда электроошейников</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="blk subscr-blk">
          <div class="blk-ttl">
            Подписка на новости
          </div>
          <div class="blk-body">
            <form class="clr" id="subscr-frm" name="subscr-frm">
              <div class="inp-blk clr">
                <label for="subscr-mail">Email</label> <input type="email" id="subscr-mail" name="subscr-mail">
              </div><input class="btn" type="button" value="Подписаться">
            </form>
          </div>
        </div>
      </aside>
      <div class="cnt">
        <div class="page-cnt">
          <div class="crumbs">
            <a href="/">Главная</a> <span class="arr">&gt;</span> <a href="/mashinki-dlya-strizhki/c9">Машинки для стрижки</a> <span class="arr">&gt;</span> <span>Ножевой блок для машинки AOBO - VS888 и VS999</span>
          </div>
          <h1>Ножевой блок для машинки AOBO - VS888 и VS999</h1>
          <div class="product clr">
            <div class="gal-blk">
              <div class="main-photo img">
                <a><img src="https://cdn6.sellbe.com/p64/s-64403/product/25/128402.jpg" alt="Ножевой блок для машинки AOBO - VS888 и VS999"></a>
              </div>
              <div class="gal-lst"><img src="https://cdn6.sellbe.com/p64/s-64403/product/25/s128402.jpg" alt=""> <img src="https://cdn6.sellbe.com/p64/s-64403/product/25/s181451.jpg" alt=""></div>
            </div>
            <div class="prod-descr-blk clr">
              <div class="availability">
                В наличии
              </div>
              <div class="brand">
                Производитель: <a href="/kitaj/b1">Китай</a>
              </div>
              <div class="prices">
                <div class="price" data-price="380,0000">
                  380 грн.
                </div><a class="markdown-btn" data-prod-id="25">Уведомить о снижении цены</a>
              </div>
              <div class="inp-blk amount-blk clr">
                <label for="prod-25-quantity">Кол-во:</label> <input type="number" min="1" id="prod-25-quantity" value="1">
              </div><input class="btn cart-add" type="button" value="В корзину" data-prod-id="25">
            </div>
          </div>
          <div class="clr"></div>
          <div class="like-blk clr">
            <div class="s-socialblock s-socblock s-rond2 s-normal">
              <div class="s-button s-fb s-button-standart" onclick="Share.fb()"></div>
              <div class="s-button s-g s-button-standart" onclick="Share.g()"></div>
              <div class="s-button s-tw s-button-standart" onclick="Share.tw()"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="cntr">
      <div class="f-right clr">
        <div class="sellbe-count"></div>
        <div class="soc-links clr"></div>
      </div>
      <div class="f-left">
        <div class="f-menu">
          <a href="/contacts">Контакты</a> <span>|</span> <a href="/feedbacks">Отзывы</a> <span>|</span> <a href="/pricelist">Прайс-лист</a><span>|</span> <a href="http://zooelectronic.com.ua/sitemap.html">Sitemap</a> <span>|</span>
        </div><span class="hide-txt" id="pattern">0 грн.</span>
        <div class="tmpl-pop-cart tmpl-src" data-src="/json/module/external.popup-cart"></div>
        <div class="tmpl-pop-login tmpl-src" data-src="/json/module/external.popup-login"></div>
        <div class="tmpl-pop-remind tmpl-src" data-src="/json/module/external.popup-remind"></div>
        <div class="tmpl-pop-inform tmpl-src" data-src="/json/module/external.popup-inform"></div>
        <div class="tmpl-pop-markdown tmpl-src" data-src="/json/module/external.popup-markdown"></div>
        <div class="copy">
          Copyright &copy; 2016 - 2018, <a href="/">ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</a>
        </div>
      </div>
      <div class="clr"></div>
      <div class="f-counts"></div>
    </div>
  </footer>
</body>
</html>
