<!DOCTYPE html>
<html>
<head>
  <title>Прайс-лист - ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Прайс-лист - ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ">
  <meta name="keywords" content="Прайс-лист - ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ">
  <link href="/pricelist" rel="canonical">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/favicon1.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/css/main.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.fancybox/jquery.fancybox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.css" rel="stylesheet">
  <link href="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/share/share.css" rel="stylesheet">
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/share/share.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//sellbe.com/js/core.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/js/main.js"></script>
  <script src="//sellbe.com/js/localization/ru.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.selectbox/jquery.selectbox.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://cdn6.sellbe.com/p64/s-64403/template/123056/plugins/jquery.anythingslider/jquery.anythingslider.min.js"></script>
</head>
<body>
  <header>
    <div class="h-top">
      <div class="cntr clr"></div>
    </div>
    <div class="h-middle">
      <div class="cntr clr">
        <div class="logo">
          <a href="/"><img src="https://cdn6.sellbe.com/p64/s-64403/logo/364433.jpg" alt="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ" title="ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ"></a>
        </div>
        <div class="h-contact">
          <div>
            Мобильный: (067) 727 32 41
          </div>
          <div>
            Мобильный: (095) 760 32 41
          </div>
          <div>
            Email: <a href="mailto:zooelectronic@ukr.net">zooelectronic@ukr.net</a>
          </div>
        </div>
        <div class="h-right clr">
          <div class="log-blk">
            <a class="login-a">Вход</a> <a href="/register">Регистрация</a>
          </div>
          <div class="clr"></div>
          <div class="cart-info">
            <div class="cart-ico ico"></div>
            <div class="txt full-cart hide-txt">
              В корзине <a href="/cart">товаров: <span class="amount">0</span></a>
            </div>
            <div class="txt empty-cart">
              Корзина пуста
            </div>
            <div class="clr"></div>
            <div class="wrap">
              <script id="cart-i-tmpl" type="text/x-jquery-tmpl">
                <li class="prod-cntr" data-prod-id="${product.id}">
                    <div class="amnt">${quantity}</div>
                    <div class="descr clr">
                        <div class="ttl"><a href="${product.url}">${product.title}</a></div>

                        {{if complectation != null}}
                            <div class="complect-blk" data-id="${complectation.id}">
                                ({{each(i,property) complectation.properties }}{{if i != 0}}; {{/if}}${property.property_name}: ${property.value_name}{{/each}})
                            </div>
                        {{/if}}

                        {{if selected_properties.length > 0}}
                            <div class="props prod-${product.id}-props">
                                {{each(i, property) selected_properties }}
                                    <div data-prop-id="${property.property_id}" data-val-id="${property.value_id}">
                                        ${property.property_name}: ${property.value_name}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                        <div class="price">${total_price}</div>
                        <span class="del-ico ico"></span>
                    </div>
                </li>
              </script>
              <ul class="lst"></ul>
              <div class="btn-wrap clr">
                <a class="btn" href="/purchase">Оформить заказ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="menu-blk">
      <div class="cntr clr">
        <ul class="menu">
          <li>
            <a href="/"><span class="ico"></span></a>
          </li>
          <li>
            <a href="/products">Каталог товаров</a>
          </li>
          <li>
            <a href="/dostavka-i-oplata">Доставка и оплата</a>
          </li>
          <li>
            <a href="/garantiya">Гарантия</a>
          </li>
          <li>
            <a href="/publications">Публикации</a>
          </li>
          <li>
            <a href="/contacts">Контакты</a>
          </li>
          <li>
            <a href="/feedbacks">Отзывы</a>
          </li>
        </ul>
        <div class="srch-blk clr">
          <input class="srch-inp" type="text" placeholder="Поиск" data-url="/search"> <a class="srch-btn ico"></a>
        </div>
      </div>
    </nav>
  </header>
  <section class="cnt-wrap">
    <div class="cntr clr">
      <div class="h-banner"></div>
      <aside class="l-col">
        <div class="blk">
          <div class="blk-ttl">
            Категории
          </div>
          <div class="blk-body">
            <ul class="categ-lst">
              <li>
                <a href="/elektronnyie-oshejniki/c1">Электронные ошейники</a>
              </li>
              <li>
                <a href="/oshejniki-biperyi/c2">Ошейники - биперы</a>
              </li>
              <li>
                <a href="/antilai/c3">Антилаи</a>
              </li>
              <li>
                <a href="/poiskovyie-sistemyi/c4">Поисковые системы</a>
              </li>
              <li>
                <a href="/elektronnyie-izgorodi/c5">Электронные изгороди</a>
              </li>
              <li>
                <a href="/svetyaschiesya-oshejniki/c6">Светящиеся ошейники</a>
              </li>
              <li>
                <a href="/elektronnyie-kovriki/c7">Электронные коврики</a>
              </li>
              <li>
                <a href="/furminatoryi/c8">Фурминаторы</a>
              </li>
              <li>
                <a href="/mashinki-dlya-strizhki/c9">Машинки для стрижки</a>
              </li>
              <li>
                <a href="/dopolnitelnyie-oshejniki/c11">Дополнительные ошейники</a>
              </li>
              <li>
                <a href="/aksecsuaryi/c10">Аксеcсуары</a>
              </li>
              <li>
                <a href="/zapchasti-remont/c12">Запчасти, ремонт</a>
              </li>
              <li>
                <a href="/arenda-elektrooshejnikov/c13">Аренда электроошейников</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="blk subscr-blk">
          <div class="blk-ttl">
            Подписка на новости
          </div>
          <div class="blk-body">
            <form class="clr" id="subscr-frm" name="subscr-frm">
              <div class="inp-blk clr">
                <label for="subscr-mail">Email</label> <input type="email" id="subscr-mail" name="subscr-mail">
              </div><input class="btn" type="button" value="Подписаться">
            </form>
          </div>
        </div>
      </aside>
      <div class="cnt">
        <div class="page-cnt">
          <div class="crumbs">
            <a href="/">Главная</a> <span class="arr">&gt;</span> <span>Прайс-лист</span>
          </div>
          <h1>Прайс-лист</h1>
          <div class="price-lst">
            <h2><a href="/10-sht-batarejka-4lr44-6v-gp-476a/p23"><span class="val">200 грн.</span> <span class="ttl">10 шт. Батарейка 4LR44 6V ( GP 476A )</span></a></h2>
            <h2><a href="/10-rasprodazha-elektronnyij-oshejnik-petainer-ipets-618/p9"><span class="val">2 240 грн.</span> <span class="ttl">-10% РАСПРОДАЖА ! Электронный ошейник Petainer iPETs 618</span></a></h2>
            <h2><a href="/20-rasprodazha-elektronnyij-oshejnik-petainer-ipets-619/p5"><span class="val">1 550 грн.</span> <span class="ttl">-20% РАСПРОДАЖА ! Электронный ошейник Petainer iPETs 619</span></a></h2>
            <h2><a href="/akkumulyator-dlya-elektronnyih-oshejnikov/p45"><span class="val">100 грн.</span> <span class="ttl">Аккумулятор для электронных ошейников</span></a></h2>
            <h2><a href="/antena-dlya-pulta/p42"><span class="val">170 грн.</span> <span class="ttl">Антена для пульта</span></a></h2>
            <h2><a href="/antilaj-petainer-pet850/p6"><span class="val">980 грн.</span> <span class="ttl">Антилай Petainer PET850</span></a></h2>
            <h2><a href="/antilaj-petainer-pet852/p50"><span class="val">360 грн.</span> <span class="ttl">Антилай Petainer PET852</span></a></h2>
            <h2><a href="/bu-elektronnyij-oshejnik-petsafe-pdt00-12470-dlya-2-h-sobak/p52"><span class="val">2 600 грн.</span> <span class="ttl">Б/у Электронный ошейник PetSafe - PDT00-12470 (для 2-х собак)</span></a></h2>
            <h2><a href="/bandana-dlya-ohotnichih-sobak/p62"><span class="val">170 грн.</span> <span class="ttl">Бандана для охотничьих собак</span></a></h2>
            <h2><a href="/besprovodnaya-perezaryazhaemaya-mashinka-dlya-strizhki-aobo-vs999-20w/p19"><span class="val">1 420 грн.</span> <span class="ttl">Беспроводная (перезаряжаемая ) машинка для стрижки AOBO - VS999 20W</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-998d/p30"><span class="val">450 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer 998D</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-998drnew-i-pet916/p32"><span class="val">720 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer 998DR_NEW и PET916</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-998dr/p31"><span class="val">520 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer 998DR</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-ipets-617/p37"><span class="val">1 250 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer iPETs 617</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-ipets-618/p36"><span class="val">1 210 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer iPETs 618</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-pet619/p35"><span class="val">840 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer PET619</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-pet910-biper/p34"><span class="val">850 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer PET910 (бипер)</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-petainer-pet910/p33"><span class="val">850 грн.</span> <span class="ttl">Дополнительный ошейник для Petainer PET910</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-izgorodi-ht-023/p39"><span class="val">520 грн.</span> <span class="ttl">Дополнительный ошейник для изгороди HT-023</span></a></h2>
            <h2><a href="/dopolnitelnyij-oshejnik-dlya-izgorodi-petainer-pet-803/p38"><span class="val">850 грн.</span> <span class="ttl">Дополнительный ошейник для изгороди Petainer PET 803</span></a></h2>
            <h2><a href="/zhilet-dlya-ohotnichih-sobak-razmer-l/p55"><span class="val">220 грн.</span> <span class="ttl">Жилет для охотничьих собак ( размер L )</span></a></h2>
            <h2><a href="/zhilet-dlya-ohotnichih-sobak-razmer-m/p54"><span class="val">200 грн.</span> <span class="ttl">Жилет для охотничьих собак ( размер M )</span></a></h2>
            <h2><a href="/zhilet-dlya-ohotnichih-sobak-razmer-s/p43"><span class="val">170 грн.</span> <span class="ttl">Жилет для охотничьих собак ( размер S )</span></a></h2>
            <h2><a href="/zaryadnoe-ustrojstvo-dlya-ret910/p41"><span class="val">140 грн.</span> <span class="ttl">Зарядное устройство для РЕТ910</span></a></h2>
            <h2><a href="/komplekt-elektrodov/p44"><span class="val">50 грн.</span> <span class="ttl">Комплект электродов</span></a></h2>
            <h2><a href="/mashinka-dlya-strizhki-zhivotnyih-sobak-koshek-i-dr-aobo-vs888-55w/p11"><span class="val">1 260 грн.</span> <span class="ttl">Машинка для стрижки животных (собак , кошек и др.) AOBO - VS888 55W</span></a></h2>
            <h2><a href="/nabor-remeshkov-dlya-schenkov-12sht/p56"><span class="val">170 грн.</span> <span class="ttl">Набор ремешков для щенков 12шт.</span></a></h2>
            <h2><a href="/nozhevoj-blok-dlya-mashinki-aobo-vs888-i-vs999/p25"><span class="val">380 грн.</span> <span class="ttl">Ножевой блок для машинки AOBO - VS888 и VS999</span></a></h2>
            <h2><a href="/otpugivayuschij-kovrik-scat-mat/p53"><span class="ttl">Отпугивающий коврик Scat Mat</span></a></h2>
            <h2><a href="/oshejnik-biper-cp-d100-dlya-ohotnichih-sobak/p7"><span class="val">1 560 грн.</span> <span class="ttl">Ошейник - бипер CP-D100 (для охотничьих собак)</span></a></h2>
            <h2><a href="/poliuretanovyij-oshejnik-remeshok-zhyoltyij-25mm/p18"><span class="val">200 грн.</span> <span class="ttl">Полиуретановый ошейник - ремешок жёлтый 25мм</span></a></h2>
            <h2><a href="/poliuretanovyij-oshejnik-remeshok-zelyonyij-25mm/p17"><span class="val">200 грн.</span> <span class="ttl">Полиуретановый ошейник - ремешок зелёный 25мм</span></a></h2>
            <h2><a href="/poliuretanovyij-oshejnik-remeshok-oranzhevyij-18mm/p22"><span class="val">250 грн.</span> <span class="ttl">Полиуретановый ошейник - ремешок оранжевый 18мм</span></a></h2>
            <h2><a href="/poliuretanovyij-oshejnik-remeshok-oranzhevyij-25mm/p16"><span class="val">200 грн.</span> <span class="ttl">Полиуретановый ошейник - ремешок оранжевый 25мм</span></a></h2>
            <h2><a href="/svetodiodnyij-oshejnik-easydog-na-akkumulyatore/p29"><span class="val">220 грн.</span> <span class="ttl">Светодиодный ошейник EASYDOG на аккумуляторе</span></a></h2>
            <h2><a href="/svetyaschijsya-v-temnote-poliuretanovyij-oshejnik-remeshok-25mm/p61"><span class="val">230 грн.</span> <span class="ttl">Светящийся в темноте полиуретановый ошейник - ремешок 25мм</span></a></h2>
            <h2><a href="/svistok-ultrazvukovoj/p24"><span class="val">110 грн.</span> <span class="ttl">Свисток ультразвуковой</span></a></h2>
            <h2><a href="/treker-tk-star-tk-909-dlya-zhivotnyih/p21"><span class="val">1 540 грн.</span> <span class="ttl">Трекер TK STAR TK-909 для животных</span></a></h2>
            <h2><a href="/treker-tk-201-2-dlya-zhivotnyih/p20"><span class="val">2 640 грн.</span> <span class="ttl">Трекер ТК 201-2 для животных</span></a></h2>
            <h2><a href="/furminator-serii-classic-bolshoj/p46"><span class="val">220 грн.</span> <span class="ttl">Фурминатор серии Classic - большой</span></a></h2>
            <h2><a href="/furminator-serii-classic-malenkij/p48"><span class="val">170 грн.</span> <span class="ttl">Фурминатор серии Classic - маленький</span></a></h2>
            <h2><a href="/furminator-serii-classic-srednij/p47"><span class="val">200 грн.</span> <span class="ttl">Фурминатор серии Classic - средний</span></a></h2>
            <h2><a href="/elektronnyij-gsm-oshejnik-gs-100/p27"><span class="val">1 460 грн.</span> <span class="ttl">Электронный GSM ошейник GS-100</span></a></h2>
            <h2><a href="/elektronnyij-zabor-dlya-sobak-ht-023/p8"><span class="val">1 540 грн.</span> <span class="ttl">Электронный забор для собак HT-023</span></a></h2>
            <h2><a href="/elektronnyij-zabor-dlya-sobak-pet-manager-dlya-pomeschenij/p49"><span class="val">1 300 грн.</span> <span class="ttl">Электронный забор для собак PET MANAGER (для помещений)</span></a></h2>
            <h2><a href="/elektronnyij-zabor-dlya-sobak-petainer-pet803/p3"><span class="val">2 200 грн.</span> <span class="ttl">Электронный забор для собак Petainer PET803</span></a></h2>
            <h2><a href="/elektronnyij-zabor-dlya-sobak-x-800/p26"><span class="val">1 880 грн.</span> <span class="ttl">Электронный забор для собак X-800</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-p-183/p59"><span class="val">1 880 грн.</span> <span class="ttl">Электронный ошейник P-183</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-petcomer/p60"><span class="val">1 100 грн.</span> <span class="ttl">Электронный ошейник PETCOMER</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-vinsic/p63"><span class="val">1 440 грн.</span> <span class="ttl">Электронный ошейник VINSIC</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-koolkani-kk-360r/p28"><span class="ttl">Электронный ошейник KoolKani KK-360R</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-patpet-p-610/p57"><span class="val">2 100 грн.</span> <span class="ttl">Электронный ошейник PATPET P-610</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-petainer-998dr-new/p12"><span class="val">1 330 грн.</span> <span class="ttl">Электронный ошейник Petainer 998DR NEW</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-petainer-998dr/p13"><span class="val">1 130 грн.</span> <span class="ttl">Электронный ошейник Petainer 998DR</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-petainer-ipets-616/p58"><span class="val">2 680 грн.</span> <span class="ttl">Электронный ошейник Petainer iPETs 616</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-petainer-ipets-617/p10"><span class="val">2 560 грн.</span> <span class="ttl">Электронный ошейник Petainer iPETs 617</span></a></h2>
            <h2><a href="/elektronnyij-oshejnik-petainer-pet916/p2"><span class="val">1 750 грн.</span> <span class="ttl">Электронный ошейник Petainer PET916</span></a></h2>
            <h2><a href="/elektrooshejnik-dlya-dressirovki-petainer-998d/p4"><span class="val">840 грн.</span> <span class="ttl">Электроошейник для дрессировки Petainer 998D</span></a></h2>
            <h2><a href="/elektrooshejnik-s-biperom-petainer-pet910-dlya-ohotnichih-sobak/p1"><span class="val">2 630 грн.</span> <span class="ttl">Электроошейник с бипером Petainer PET910 (для охотничьих собак)</span></a></h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="cntr">
      <div class="f-right clr">
        <div class="sellbe-count"></div>
        <div class="soc-links clr"></div>
      </div>
      <div class="f-left">
        <div class="f-menu">
          <a href="/contacts">Контакты</a> <span>|</span> <a href="/feedbacks">Отзывы</a> <span>|</span> <a href="/pricelist">Прайс-лист</a><span>|</span> <a href="http://zooelectronic.com.ua/sitemap.html">Sitemap</a> <span>|</span>
        </div><span class="hide-txt" id="pattern">0 грн.</span>
        <div class="tmpl-pop-cart tmpl-src" data-src="/json/module/external.popup-cart"></div>
        <div class="tmpl-pop-login tmpl-src" data-src="/json/module/external.popup-login"></div>
        <div class="tmpl-pop-remind tmpl-src" data-src="/json/module/external.popup-remind"></div>
        <div class="tmpl-pop-inform tmpl-src" data-src="/json/module/external.popup-inform"></div>
        <div class="tmpl-pop-markdown tmpl-src" data-src="/json/module/external.popup-markdown"></div>
        <div class="copy">
          Copyright &copy; 2016 - 2018, <a href="/">ЭЛЕКТРОНИКА ДЛЯ ЖИВОТНЫХ</a>
        </div>
      </div>
      <div class="clr"></div>
      <div class="f-counts"></div>
    </div>
  </footer>
</body>
</html>
